html,body{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu{
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid lightblue;
}

.Menu .Line{
    display: block;
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 4px;
    transition: transform .5s;
    opacity: .25s;
}

.Menu.active .Line:nth-child(1){
    margin: 5px 0;
    /* Close Formate */
    /* transform: translateY(13px) rotate(45deg); */
    
    /* Substract Formate */
    /* transform: translateY(13px); */

    /* Addition Formate */
    transform: translateY(13px) rotate(90deg);
}

.Menu.active .Line:nth-child(2){
    opacity: 0;
}

.Menu.active .Line:nth-child(3){
    /* Close Formate */
    /* transform: translateY(-13px) rotate(-45deg); */

    /* Substract Formate */
    transform: translateY(-13px);
}
